body {
  margin: 0;
}

#canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}